.contact-icon{
    margin: 10px;
}

#footer #links a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

#footer {
    background-color: rgb(231, 231, 231);
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}

#footer .info p {
    padding: 10px;
}

