.contact-icon{
    margin: 10px;
}

#footer #links a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

#footer {
    background-color: rgba(118, 118, 118, 0.088);
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}

#footer .info p {
    padding: 10px;
}

