*{
    --special-character: rgb(65, 43, 151) ;
}
.container{
    position: relative;
    width: 100%;
    padding: 0;
   
}

#promoteImage{
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

#promoteString{
        position: absolute;
        font-size: 60px;
        font-family:  "Roboto";
        font-weight: bold;
        color: #e5e4e4;   
        top: 9%;
        left: 5%;
        background-color: none;
        text-shadow:       2px 2px 0 var(--special-character), 
        -2px -2px 0 var(--special-character),
        2px -2px 0 var(--special-character),
        -2px 2px 0 var(--special-character),
        2px 0 0 var(--special-character),
        -2px 0 0 var(--special-character),
        0 2px 0 var(--special-character),
        0 -2px 0 var(--special-character);;
 }

 #releaseString{
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    color: #ededed;   
    top: 5%;
    left: 5%;
    background-color: none;
    text-shadow:       2px 2px 0 var(--special-character), 
    -2px -2px 0 var(--special-character),
    2px -2px 0 var(--special-character),
    -2px 2px 0 var(--special-character),
    2px 0 0 var(--special-character),
    -2px 0 0 var(--special-character),
    0 2px 0 var(--special-character),
    0 -2px 0 var(--special-character);;
}
