#navbar{
    background-color: #162331fd;
    color: white;
    
   
}

#saleOffer{
    background-color: rgba(212, 60, 60, 0.873);
    font-weight: 600;
    color: #fcfcfc;
}
#saleOffer:hover{

    background-color: #c41212;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
#nav-brand{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-inline: 10px;
    color: #fcfcfc;
    
}

#nav-brand:hover{
    transform: scale(1.1);
    transition: 0.2s;
    color: rgb(244, 244, 244);
}

.inline-link {
    display: inline-block;
    font-family:  "Bebas Neue", sans-serif;
    text-decoration: none;
    color: rgb(207, 206, 206);
    margin-left: 20px;
    font-size: 20px;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s ease;
    
  }

  .inline-link:hover{
    color: #ffffff;
   border-bottom: 2px solid white;
 
  
  }
  

 
