#shop{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
}

#shop #header {
    font-family: "Bebas Neue", sans-serif;
}

#shop #subheader {
    font-size: 15px;
    letter-spacing: 0.5px;
}

#store .product-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  font-style: normal;
  color: #f1efef;
}

.product-price{
    color: #a6a5a5;
}

#store .product:hover{
    cursor: pointer;
    
   
    
}

.product-img{
    border-radius: 0;
}

.product-img-box{
    overflow: hidden;
}

.product{
    overflow: hidden;
    border-radius: 10;
}

.product-name-box{
    background-color: rgba(39, 42, 50, 0.919);
}

.product-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
